<!DOCTYPE html>
<html>
  <head>
    <title>Jamtastic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <div class="navbar is-link">
      <div class="navbar-brand">
        <%= link_to image_tag("jamtastic-logo-white-transparent.png", border: 0, alt: t('menu.logo_alt')), root_path, class: "navbar-item is-size-4" %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <%= link_to t('menu.logout'), destroy_user_session_path, method: :delete, class: "button is-danger" %>
            <% else %>
              <%= link_to t('menu.login'), new_user_session_path, class: "button is-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <section class="section is-fullheight is-fullwidth">
      <%= render 'layouts/notification', content: notice, color: 'is-info' %>
      <%= render 'layouts/notification', content: alert, color: 'is-danger' %>
      <%= yield %>
    </section>
  </body>
</html>
